.toForm {
  /*width: 50%;
  margin:auto;
  /*margin: 50px;*/
  margin-top: 50px;
}

.toTable{
  margin-top: 10px;
}

p{
  margin:0;
}

.leftdiv {
  /*  height: 210px;*/
  /*background-color: green;*/
  /*border-style: solid;*/
  border-width: 1px;
  padding: 10px;
}

.rightdiv {
  /*height: 210px;*/
/*background-color: yellow;*/
  /*border-style: solid;*/
  border-width: 1px;
  padding: 10px;
}

.toFormBuy{
/*  background-color: gray;*/
  padding: 10px;
}
