<!-- index.html template -->
{% extends "management/index.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Portfolio detail</title>
  {% block css%}
  <link rel="stylesheet" href="{% static "css/calculator.css" %}">
  {% endblock%}
</head>

<body>

  {% block title %}
  <h1>{{webTitle}}</h1>
  {% endblock %}

  {% block content %}
  <h1>{{currentPortfolio.name}}</h1>
  {% endblock %}



  {% block result%}
  <div class="toTable">
    <table id="" class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Investment</th>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Quantity</th>
          <th scope="col">Transacion Price</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in allTransacions %}
        <tr>
          <td>{{ obj.investment }}</td>
          <td>{{ obj.date }}</td>
          <td>{{ obj.type }}</td>
          <td>{{ obj.quantity }}</td>
          <td>{{ obj.TransactionPrice }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock%}


  {% block js%}

  {% endblock%}

</body>

</html>
