<!-- index.html template -->
{% extends "management/index.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Portfolio</title>
  {% block css%}
  <link rel="stylesheet" href="{% static "css/calculator.css" %}">
  {% endblock%}
</head>

<body>

  {% block title %}
  <h1>{{webTitle}}</h1>
  {% endblock %}

  {% block content %}
  <h1>{{currentPortfolio.name}}</h1>
  {% endblock %}



  {% block result%}
  <div class="toTable">
    <table id="" class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Portfolio</th>
          <th scope="col">Symbol</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for obj in allInvest %}
        <tr>
          <td>{{ obj.portfolio }}</td>
          <td>{{ obj.symbol }}</td>
          <td>{{ obj.quantity }}</td>
          <td>{{ obj.price }} =>  P&L: </td>
          <td>
            <a href="/management/investmentdetail/{{obj.id}}"><span class="glyphicon glyphicon-ok-circle"></span>Detail</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock%}


  {% block js%}
  <script src="{% static "js/portfolio.js" %}"> </script>
  {% endblock%}

</body>

</html>
